@model IEnumerable<WebApplication7.Models.personas>

<table id="listPerson" class="table">
    <tr>
        <th style="display: none;">
            @Html.DisplayNameFor(model => model.id_persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th style="display: none;">
            @Html.DisplayNameFor(model => model.id_tipopersona)
        </th>
        <th>
            Tipo
        </th>
        <th></th>
    </tr>
    <script>
        var iframetype = this.name;
    </script>
    @foreach (var item in Model)
    {
        <tr>
            <td style="display: none;">
                @Html.DisplayFor(modelItem => item.id_persona)
            </td>
            <td>
                <input type="radio" name="id_persona" id="id_persona" value="@item.id_persona" 
                       onchange="if (iframetype == 'clientes') parent.document.forms['operacionesForm'].id_cliente.value = this.value;
                                if (iframetype == 'empelados') parent.document.forms['operacionesForm'].id_vendedor.value = this.value;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
        </tr>
    }
</table>

